@font-face {
    font-family: Digital-7;
    src: url(./fonts/digital-7.ttf);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    background-color: tan;
    border-radius: 64px 64px 12px 12px;
}

#calculator {
    width: 360px;
    height: 480px;
    margin: 12px;
    background-color: saddlebrown;
    border-radius: 64px 64px 12px 12px;
    display: flex;
    flex-direction: column;
}

#screen {
    color: red;
    background-color: black;
    border: solid white;
    margin: 24px;
    padding: 12px;
    font-family: Digital-7;
}

#auxScreen {
    font-size: 18px;
    min-height: 24px;
}

#mainScreen {
    font-size: 36px;
    min-height: 48px;
    text-align: end;
}

#pad {
    background-color: moccasin;
    border-radius: 24px 24px 12px 12px;
    margin: 12px;
    display: flex;
    flex: 1;
    align-items: center;
}

#numbers {
    min-width: 200px;
}

#operators {
    min-width: 140px;
}

button {
    min-width: 48px;
    color: white;
    background-color: black;
    margin: 8px;
    padding: 0px;
}

#C {
    background-color: brown;
}