body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator {
    width: 360px;
    height: 480px;
    background-color: moccasin;
    border: solid;
    display: flex;
    flex-direction: column;
}

#screen {
    color: red;
    background-color: black;
    margin: 24px;
    padding: 12px;
}

#auxScreen {
    font-size: 18px;
    min-height: 24px;
}

#mainScreen {
    font-size: 36px;
    min-height: 48px;
    text-align: end;
}

#pad {
    margin: 12px;
    display: flex;
    flex: 1;
    align-items: center;
}

#numbers {
    min-width: 200px;
}

#operators {
    min-width: 140px;
}

button {
    color: white;
    background-color: black;
    padding: 24px;
}